<div class="results-panels">
    <div class="table-results">
        <table>
            <thead>
                <tr>
                    <th>Capa</th>
                    <th id="m-addservices-selectall">Seleccionar todas</th>
                </tr>
            </thead>
            <tbody>
                {{#each result}}
                    <tr>
                        <td>{{name}}</td>
                        <td><span id={{name}} class="m-check-addservices g-cartografia-check2"></span></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <div class="button">
            <button class="m-addservices-add"><i class="g-cartografia-subir"></i>Añadir</button>
        </div>
    </div>
</div>