<div class="m-control m-addservices-container">
    <div id="m-searching-result-addservices" class="m-searching-result g-cartografia-spinner"></div>
    <div class="title">Cargar servicios WMS</div>
    <!--         <div id="m-addservices-search" class="search-panel form">
            <input id="m-addservice-url" type="text" placeholder="URL del servicio" />
            <button id="m-addservices-btnurl" class="g-cartografia-mas2" title="Añadir WMS"></button>
        </div> -->
    <!-- search panel -->
    <div class="search-panel">
        <input type="text" id="m-addservices-search-input" placeholder="URL del servicio" class="m-input-search" />
        <button id="m-addservices-search-btn" class="g-cartografia-zoom m-search-btn" title="Conectar al servicio WMS"></button>
        <button id="m-addservices-clear-btn" class="g-cartografia-cancelar m-clear-btn" title="Limpiar búsqueda"></button>
    </div>
    <div id="m-addservices-results"></div>
</div>